/* formatting for pages */

:root {
  --background: #ffffff;
  --foreground: #000000;
  --font-sans: Arial, Helvetica, sans-serif;
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #f5f5f5;
  }
}

/* Global styles */

body {
  margin: 0;
  padding: 0;
  color: var(--foreground);
  background: var(--background);
  font-family: var(----font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nav-margin{
  margin-top: 4vh;
}
.navbar{
  z-index: 99;
}

.btn-primary {
  background-color: #38ad38 !important;
  border-color: #38ad38 !important;
}

